body {
  margin: 0;
  padding: 0;
  min-width: 1100px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
}

a:link {
  color: #1946BA;
}

a:hover {
  color: #EC0B43;
}

.main-header {
  width: 1060px;
  margin: 0 auto;
  padding: 20px;
}

.username {
  margin: 0;
  font-size: 14px;
}

.username b {
  padding: 0.2em 0.4em;
  font-weight: normal;
  color: white;
  background-color: #5EC0D5;
}

main {
  width: 1060px;
  margin: 0 auto;
  padding: 20px;
}

.course-banner {
  padding: 50px;
  min-height: 300px;
  color: white;

  background-color: #1946BA;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center 25%;
}

.course-banner h1 {
  display: inline;
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 36px;
  line-height: 1.3;
  background-color: #EC0B43;
}

.lecture-banner {
  padding: 50px;
  color: white;

  background-color: #091834;
  background-image: url("../img/bg-lecture.jpg");
  background-size: contain;
  background-position: center 25%;
}

.lecture-os_and_computer_architecture-banner {
  background-color: #051B04;
  background-size:auto;
  background-image: url("../img/os_and_computer_architecture/bg-lecture.jpg");
}

.lecture-programming_technologies-banner {
  background-color: #0B152E;
  background-size:cover;
  background-image: url("../img/programming_technologies/bg-lecture.jpg");
}

.lecture-network_technologies-banner {
  background-color: #0B152E;
  background-size:cover;
  background-image: url("../img/network_technologies/bg-lecture.jpg");
}

.lecture-internet_and_web_technologies-banner {
  background-color: #016EBA;
  background-size:cover;
  background-image: url("../img/internet_and_web_technologies/bg-lecture.jpg");
}

.lecture-virtual-augmented_and_mixed_reality_technologies-banner {
  background-color: #1C91BC;
  background-size:cover;
  background-image: url("../img/virtual-augmented_and_mixed_reality_technologies/bg-lecture.jpg");
}

.lecture-personal_information_security_basics-banner {
  background-color: #1AFBFD;
  background-size:cover;
  background-image: url("../img/personal_information_security_basics/bg-lecture.jpg");
}

.lecture-information_security-banner {
  background-color: #0499FE;
  background-size:cover;
  background-image: url("../img/information_security/bg-lecture.jpg");
}

.lecture-the_digital_economy-blockchain-banner {
  background-color: #001844;
  background-size:cover;
  background-image: url("../img/the_digital_economy-blockchain/bg-lecture.jpg");
}

.lecture-embedded_systems-banner {
  background-color: #154D97;
  background-size:cover;
  background-image: url("../img/embedded_systems/bg-lecture.jpg");
}

.lecture-smart_things_and_safe_life-banner {
  background-color: #0E7499;
  background-size:cover;
  background-image: url("../img/smart_things_and_safe_life/bg-lecture.jpg");
}

.lecture-digital_ethics-banner {
  background-color: #1A4973;
  background-size:cover;
  background-image: url("../img/digital_ethics/bg-lecture.jpg");
}

.lecture-culture_of_internet_communications-banner {
  background-color: #2F5293;
  background-size:cover;
  background-image: url("../img/culture_of_internet_communications/bg-lecture.jpg");
}

.lecture-digital_education-banner {
  background-color: #1E8AC7;
  background-size:cover;
  background-image: url("../img/digital_education/bg-lecture.jpg");
}

.lecture-digital_humanities-banner {
  background-color: #000000;
  background-size:cover;
  background-image: url("../img/digital_humanities/bg-lecture.jpg");
}

.lecture-bibliographic_search-banner {
  background-color: #CE7133;
  background-size:cover;
  background-image: url("../img/bibliographic_search/bg-lecture.jpg");
}

.lecture-banner h1 {
  display: inline;
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 36px;
  line-height: 1.3;
  background-color: #5EC0D5;
}

.lectures {
  display: flex;
  flex-wrap: wrap;
}

.lectures h2 {
  width: 100%;
}

.lectures-group {
  width: 200px;
  flex-grow: 1;
  padding: 5px 20px;
  border-left: 10px solid #1946BA;
}

.lectures-group--fundamental {
  border-color: #FFDE17;
}

.lectures-group--personal {
  border-color: #00944C;
}

.lectures-group--service {
  border-color: #EA4126;
}

.lectures-group h3 {
  display: inline;
  margin: 0;
  padding: 0.2em 0.4em;
  font-weight: normal;
}

.lectures-group--fundamental h3 {
  color: black;
  background-color: #FFDE17;
}

.lectures-group--personal h3 {
  color: white;
  background-color: #00944C;
}

.lectures-group--service h3 {
  color: white;
  background-color: #EA4126;
}

.lectures-group ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.lectures-group li {
  margin-bottom: 14px;
}

.summary {
  line-height: 1.4;
}

.summary blockquote {
  padding: 10px 0;
  padding-left: 20px;
  margin: 20px 0;
  border-left: 5px solid #5EC0D5;
}

.summary figure {
  display: table;
  margin: 20px 0;
  padding: 10px;
  border: 2px solid #5EC0D5;
}

.summary figcaption {
  text-align: center;
  font-style: italic;
}

.main-footer {
  width: 1060px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
